body {
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}

#all-headers {
	width: 100%;
	height: 600px;
	background-image: url(../imgs/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.section {
	width: 100%;
}

#login-div {
	height: 40px;
	font-size: 1em;
	padding-top: 10px;
}

.login-button {
	float: right;
	cursor: pointer;
	color: rgba(31,72,81,0.8);
	background-color: rgba(255,255,255,0.313);
	border: 1px solid rgba(255,255,255,0.313);
	border-radius: 5px;
	height: 27px;
	padding-left: 12px;
	padding-right: 12px;
}

.login-button:hover {
	background-color: rgba(255,255,255,0.501);
}

#login {
	margin-right: 1.3%;
}

#register {
	margin-right: 1.7%;
}


.modal {
	width: 100%;
	height: 100%;
  padding-top: 50px;
  padding-left: 34%;
  position: fixed;
  z-index: 1; 
  background-color: rgba(0,0,0,0.564); 
  overflow: auto;
}

#register-modal {
	width: 32%;
	height: 360px;
  border: 1px solid rgba(255,255,255,0.501);
  border-radius: 5px;
	background-color: rgba(255,255,255,0.501);
	font-family: "Helvetica";
}

#reg-modal-wrap {
	display: none; 
}

#register-form-div {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	color: #1F4851;
}

#login-modal {
	width: 32%;
	height: 275px;
  border: 1px solid rgba(255,255,255,0.501);
  border-radius: 5px;
	background-color: rgba(255,255,255,0.501);
	font-family: "Helvetica";
}

#login-modal-wrap {
	display: none;
	padding-top: 10%;
}

#login-form-div {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	color: #1F4851;
}

.form-input {
  width: 96%; 
  border: hidden;
  border-radius: 6px;
  height: 29px;
  font-size: 0.8em;
  padding-left: 3%;
  margin-bottom: 2%;
  background-color: rgba(255,255,255,0.396);
}

.check {
	margin-top: 15px;
	line-height: 100%;
	display: inline;
	float: left;
	/* from stackoverflow */
	-ms-transform: scale(0.7); 
	-moz-transform: scale(0.7); 
	-webkit-transform: scale(0.7); 
	-o-transform: scale(0.7); 
}

.check-span {
	font-size: 0.75em;
	float: left;
	margin-top: 15px;
}

.check-wrap {
	width: 100%;
	height: 40px;	
}

.submit-button-div {
	text-align: center;
}

.submit-button{
  height: 35px;
  border: hidden;
  border-radius: 6px;
  color: rgba(255,255,255,0.8);
  font-size: 0.9em;
  margin-top: 4%;
  width: 100px;
  background-color: rgba(31,72,81,0.666);
  cursor: pointer;
  padding: 0;
}

.submit-button:hover {
  background-color: rgba(31,72,81,0.866);
}

.close {
	float: right;
	font-size: 1.7em;
	margin-right: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.close:hover {
	opacity: 0.8;
}

#forgot-pass {
	margin-left: 1%;
	color: #1F38C6;
	text-decoration: underline;
	font-size: 0.75em;
	cursor: pointer;
}


#password-sent {
	display: none;
	font-size: 0.8em;
	margin-left: 1%;
}

#logo-img {
	width: 50px;
	height: 80px;
	opacity: 0.5;
	float: left;
	margin-left: 2.7%;
	margin-top: 10px;
}

#logo-span {
	color: rgba(26,93,100,0.501);
	font-size: 3em;
	font-weight: 700;
	float: left;
	margin-top: 20px;
	margin-left: 0.7%;
}

#search-div {
	height: 150px;
	width: 100%;
	margin-top: 410px;
	padding-left: 4em;
	padding-right: 4em;
	box-sizing: border-box; 
	text-align:center;
}

#search-div-input-fields {
	margin: auto;
	padding-top: 2em;
	padding-bottom: 2em;
}

#search-div-input-fields input {
	border-radius: 0.3125em;
}

#search-div-input-fields label {
	color: #ffffff;
}

.search-div-input-elems {
	height: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em; 
	padding-left: 0.938em;
	padding-right: 0.938em;
}

#search-button {
	background-color: #ffffff;
  border: hidden;
  border-radius: 2px;
  color: #575151;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
}

#search-button:hover {
	background-color: rgba(255,255,255,0.866);
}

input[type=date] {
	text-transform: uppercase;
	color: grey;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

#navbar-div {
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #1F4851;
	margin-bottom: 60px;
}

.navbar-inner-div {
	height: 40px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 1.1em;
	background-color: #FFF;
	border: hidden;
	display: inline-block;
	font-weight: 600;
}

.navbar-inner-div:hover {
	text-shadow: 2px 1px #2f8dac;
}

#contact-inner-div {
	border: hidden;
}

a.navbar-link {
	cursor: pointer;
	line-height: 40px;
	text-decoration: none;
	color: #1F4851;
}

#top-hotels-div {
	height: 900px;
	margin-top: 1.5em; 
	background-color: #ffffff;
	display: table;
	table-layout: fixed;
}


/******/

.top-hotels-row {
	display: table-row;
	margin-bottom: 1em;
}

.top-hotel-single-outter{
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	width: 33.3%;
	float: left;
}

.top-hotel-single {
	display: table-cell;
	max-height:100%;
	box-sizing: border-box;
	border: 1px solid #e6e7e8;
	padding: 1.25em;

}

.top-hotel-header {
	position: relative;
}

.top-hotel-header img{
	max-width:100%;
}

.top-hotel-header-price-info {
	color: white;
	box-sizing: border-box;
	margin: 0px;
	padding: 14px 18px 11px;
	width: 100%;
	position: absolute;
    bottom: 0;
	background-color: black; 
	opacity: 0.9;
	text-align: center;
}

.top-hotel-header-price-info a {
	font-size: 20px;
	font-weight: bold;
}

.top-hotel-header-price-info label {
	color: #b6b6b6;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.top-hotel-name {
	padding-bottom: 0.5em;  
}

.top-hotel-name a {
	font-size: 1.25em;
	font-family: "Playfair Display", serif;
}

.top-hotel-content {
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 10px; 
}

.top-hotel-content ul {
	list-style-type: none;
	margin: 0; 
	padding: 0; 
}

.country-name-label {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #808285;

}

.city-name-label {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #808285;	
}

.country-name-value {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #808285;
}

.city-name-value {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #808285;
}

/******/
#info-div-send-message{
	color: #1F4851;
	padding: 1em;
	box-sizing: border-box;
	display: block;
	width: 50%;
	margin-left: 10%;
	float: left;
}

.message-labels {
	display: block;
	padding-top: 2px;
	padding-bottom: 2px; 
	margin-bottom: 8px;
}

.message-input {
	display: block;
	padding-top: 2px;
	padding-bottom: 2px; 
	margin-bottom: 4px;
	width: 100%;
	box-sizing: border-box;
}

#info-div-map {
	width: 50%;
	margin-left: 25%;
	padding: 1em;
	box-sizing: border-box;
	text-align: center;
	clear: both;
	float: left;
}

#info-div-map h4 {
	color: #1F4851;
	margin-top: 0;
}

#info-div-map img {
	max-width: 100%;
	max-height: 100%;
}

#message-user-name {

}

#info-div-about-us {
	color: #1F4851;
	float: left;
	width: 30%;
	padding: 2.5em;
}

.about-us-labels {
	display: block;
	font-weight: bold;
	padding-bottom: 0.25em;
}

.about-us-texts {
	display: block;
	padding-bottom: 0.25em;
}


/******/

/*****/

#info-div {
	box-sizing: border-box;
	padding-right: 3%;
	height: 200px;
	display: table;
}

#info-div ul {
	list-style-type: none;
	margin: 0; 
	padding: 0; 
}

#contact-us {
	float: right;
	bottom: 0;
    right: 0;
}

#contact-us ul li {
	padding-bottom: 1em;
}

#contact-us ul li a {
	color: white;
}

#info-div-label {
	font-size: 2em;
	padding-bottom: 0.5em; 
	color: white;
}

/*****/

#copyright-div {
	height: 15px;
	background-color: #000000;
	color: rgba(255,255,255,0.866);
	font-size: 0.85em;
	padding-top: 15px;
	padding-bottom: 15px;
}

#copyright-left {
	float: left;
	margin-left: 3%;
}

#copyright-right {
	float: right;
	margin-right: 3%;
}

.copyright-a {
	color: rgba(255,255,255,0.866);
	text-decoration: none;
}

.copyright-a:hover {
	text-decoration: underline;
}

.copyright-a:visited {
	color: rgba(255,255,255,0.866);
}

.hotel-modal-wrap {
	display: block;
	padding-left: 20%;
}

.hotel-modal {
	width: 60%;
	height: 560px;
 	border: 1px solid #ebeeef;
  	border-radius: 5px;
	background-color: #ebeeef;
	padding-left: 1.5%;
	color: #1F4851;
	overflow-y: scroll;
}

.hotel-name-div {
	text-align: center;
	font-size: 2.3em;
	font-weight: 600;
	width: 100%;
	margin-top: 30px;
}

.general-info {
	margin-top: 20px;
}

.hotel-contact-logo {
	width: 16px;
	height: 16px;
	float: left;
}

.hotel-contact-div {
	width: 100%;
	height: 20px;
}

.hotel-contact-span {
	float: left;
	margin-left: 3px;
}

.services {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}

.left-col {
	width: 25%;
	float: left;
}

.right-col {
	width: 25%;
	float: left;
	margin-left: 3%;
}

.service-entry {
	width: 100%;
	height: 20px;
}

.service-logo {
	width: 16px;
	height: 16px;
	float: left;
}

.service-span {
	float: left;
	margin-left: 5px;
}

.yes-no-logo {
	width: 16px;
	height: 16px;
	float: right;
}

.rooms-header-div {
	width: 100%;
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	clear: both;
	margin-top: 30px; 
}

.room {
	margin-top: 30px;
	margin-bottom: 10px;
}

.room-name-span {
	font-size: 1.5em;
	font-weight: 600;
}

.room-images-div {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}

.room-image {
	width: 200px;
	height: 100px;
	float: left;
	margin-right: 3%;
}

.room-info {
	margin-top: 5px;
}

.book-button {
	float: right;
	margin-top: 0;
	margin-right: 3%;
}

.price-div {
	font-size: 1.1em;
	font-weight: 600;
	margin-top: 5px;
	color: green;
}

.star-logo {
	width: 25px;
	height: 25px;
}

.hotel-stars-div {
	text-align: center;
	margin-top: 5px;
}

.hotel-contact-wrap {
	width: 60%;
	display: inline-block;
	float: left;
}

.user-rating-div {
	float: right;
	margin-right: 3%;
	display: inline-block;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	padding: 7px;
	background-color: rgba(0,0,0,0.062);
} 

.user-rating {
	float: right;
	margin-top: 5px;
	margin-left: 3px;
	color: #86968c;
	font-weight: 600;
	font-size: 1.1em;
}

.rating-logo {
	width: 30px;
	height: 30px;
}

.comments-section {
	width: 97%;
	margin-right: 3%;
	margin-top: 50px;
	margin-bottom: 20px;
	display: inline-block;
	border-top: 2px solid rgba(0,0,0,0.2);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.comments-header-div {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 30px;
}

.comment-author-span {
	font-weight: 600;
	float: left;
}

.comment-header-div {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.blue-star {
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 3px;
}

.review-star-num {
	float: right;
}

.comment {
	padding: 7px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-bottom: 10px;
}

.your-review {
	margin-top: 50px;
	width: 100%;
	display: inline-block;
}

.your-review-input {
	height: 25px;
	width: 73%;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	font-size: 0.8em;
  padding-left: 1.5%;
  float: left;
}

.star-select {
	height: 29px;
}

.blue-star-review {
	float: left;
	margin-top: 5px;
	margin-left: 1%;
}

.post-button {
	width: 40px;
	height: 29px;
	float: right;
	margin-top: 0;
}

.comments {
	width: 100%;
	display: inline-block;
}